
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Dosis', sans-serif;
}
/* font-family: 'Raleway', sans-serif; */
.container{
  font-family: 'Dosis', sans-serif;
  text-align: center;
}
.navbar{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.navbar-brand{
  text-align: center;
}
.table .thead-light  th.begin{
  border-top-left-radius:1em;
  border-bottom-left-radius: 1em;

}
.table .thead-light  th.end{
  border-top-right-radius:1em;
  border-bottom-right-radius: 1em;

}